# Lecture 3.2: Pivot Table

- This lecture will go over another way to slice, filter and group data quickly.

- This lecture was adapted from dataquest.io

- We will use [The World Happiness Report](https://worldhappiness.report/) to demonstrate how to use this pandas feature. 
    - The report ranks 150 countries based self-reported data about life satisfaction.
    - Each country’s happiness score is calculated by summing the (six or) seven other variables in the table. Each of these variables reveals a population-weighted average score on a scale running from 0 to 10, that is tracked over time and compared against other countries.

- **If you have any questions over the course of this lecture, please post them to the 'Day 3 Lecture Questions' assignment on the Canvas course page.**

## Make a dataset
- Right now we have several years worth of world happiness data provided by [kaggle.com](https://www.kaggle.com/unsdsn/world-happiness/data#)
- It seems useful to demonstrate how I will combine these to make one large dataset on happiness.

In [1]:
# load packages and  datasests 

# the datasets are not built with a year so we add them
import pandas as pd
import numpy as np
hap2015 = pd.read_csv("world_happ/2015.csv")
hap2015["Year"] = [2015] * len(hap2015)


hap2016 = pd.read_csv("world_happ/2016.csv")
hap2016["Year"] = [2016] * len(hap2016)

hap2017 = pd.read_csv("world_happ/2017.csv")
hap2017["Year"] = [2017] * len(hap2017)

hap2018 = pd.read_csv("world_happ/2018.csv")
hap2018["Year"] = [2018] * len(hap2018)

hap2019 = pd.read_csv("world_happ/2019.csv")
hap2019["Year"] = [2019] * len(hap2019)

hap2019

,Happiness rank,Country,Happiness score,GDP per Capita,Social support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [2]:
# Most of our datsets do not include the regional data, luckily we know how to merge
regions = hap2015[["Country","Region"]]
hap2017 = pd.merge(hap2017, regions)
hap2018 = pd.merge(hap2018, regions)
hap2019 = pd.merge(hap2019, regions)

In [3]:
hap2019

,Happiness rank,Country,Happiness score,GDP per Capita,Social support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019,Western Europe
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019,Western Europe
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019,Western Europe
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019,Western Europe
...,...,...,...,...,...,...,...,...,...,...,...
144,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,2019,Middle East and Northern Africa
145,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019,Sub-Saharan Africa
146,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019,Sub-Saharan Africa
147,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019,Southern Asia
148,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019,Sub-Saharan Africa

In [4]:
hap2015.where(hap2015["Country"] == "United States").dropna()

,Country,Region,Happiness rank,Happiness score,Standard Error,GDP per Capita,Social support,Healthy Life Expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual,Year
14,United States,North America,15.0,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.1589,0.40105,2.51011,2015.0

In [5]:
list(hap2015.columns)

['Country',
 'Region',
 'Happiness rank',
 'Happiness score',
 'Standard Error',
 'GDP per Capita',
 'Social support',
 'Healthy Life Expectancy',
 'Freedom to make life choices',
 'Perceptions of corruption',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [6]:
happiness = pd.concat([hap2015,hap2016,hap2017,hap2018,hap2019], ignore_index =True)
happiness.to_csv('happiness.csv')
happiness

,Country,Region,Happiness rank,Happiness score,Standard Error,GDP per Capita,Social support,Healthy Life Expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,Yemen,Middle East and Northern Africa,151,3.380,NaN,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800,NaN,2019,NaN,NaN
759,Rwanda,Sub-Saharan Africa,152,3.334,NaN,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019,NaN,NaN
760,Tanzania,Sub-Saharan Africa,153,3.231,NaN,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019,NaN,NaN
761,Afghanistan,Southern Asia,154,3.203,NaN,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019,NaN,NaN
762,Central African Republic,Sub-Saharan Africa,155,3.083,NaN,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019,NaN,NaN

In [7]:
happiness.sort_values(['Year', "Happiness score"],)
happiness

,Country,Region,Happiness rank,Happiness score,Standard Error,GDP per Capita,Social support,Healthy Life Expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,Yemen,Middle East and Northern Africa,151,3.380,NaN,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800,NaN,2019,NaN,NaN
759,Rwanda,Sub-Saharan Africa,152,3.334,NaN,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019,NaN,NaN
760,Tanzania,Sub-Saharan Africa,153,3.231,NaN,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019,NaN,NaN
761,Afghanistan,Southern Asia,154,3.203,NaN,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019,NaN,NaN
762,Central African Republic,Sub-Saharan Africa,155,3.083,NaN,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019,NaN,NaN

## Pivot
- `index` is the column, grouper, array (or list of the previous) you’d like to group your data by. It will be displayed in the index column (or columns, if you’re passing in a list)
- `values` (optional) is the column you’d like to aggregate. If you do not specify this then the function will aggregate all numeric columns.

In [8]:
# average happiness for each year
pd.pivot_table(happiness, index= 'Year', values= "Happiness score")

      Happiness score
Year
2015         5.375734
2016         5.382185
2017         5.360450
2018         5.386553
2019         5.433872

In [9]:
# Lets add region as our 'key'

happ_region = pd.pivot_table(happiness, index = 'Region', values="Happiness score")
happ_region.sort_values("Happiness score")

                                 Happiness score
Region
Sub-Saharan Africa                      4.186027
Southern Asia                           4.580657
Southeastern Asia                       5.335227
Middle East and Northern Africa         5.337208
Central and Eastern Europe              5.428875
Eastern Asia                            5.630464
Latin America and Caribbean             6.021935
Western Europe                          6.759311
North America                           7.174700
Australia and New Zealand               7.294600

In [10]:
# remember when we had multiple keys?

pd.pivot_table(happiness, index = ['Region', 'Year'], values="Happiness score")

                                      Happiness score
Region                          Year
Australia and New Zealand       2015         7.285000
                                2016         7.323500
                                2017         7.299000
                                2018         7.298000
                                2019         7.267500
Central and Eastern Europe      2015         5.332931
                                2016         5.370690
                                2017         5.409931
                                2018         5.463966
                                2019         5.571786
Eastern Asia                    2015         5.626167
                                2016         5.624167
                                2017         5.496500
                                2018         5.672000
                                2019         5.688833
Latin America and Caribbean     2015         6.144682
                                2016         6.101750
                                2017         5.957905
                                2018         5.937750
                                2019         5.942550
Middle East and Northern Africa 2015         5.406900
                                2016         5.386053
                                2017         5.369684
                                2018         5.282737
                                2019         5.237000
North America                   2015         7.273000
                                2016         7.254000
                                2017         7.154500
                                2018         7.107000
                                2019         7.085000
Southeastern Asia               2015         5.317444
                                2016         5.338889
                                2017         5.444875
                                2018         5.313444
                                2019         5.273667
Southern Asia                   2015         4.580857
                                2016         4.563286
                                2017         4.628429
                                2018         4.603857
                                2019         4.526857
Sub-Saharan Africa              2015         4.202800
                                2016         4.136421
                                2017         4.084722
                                2018         4.192472
                                2019         4.314611
Western Europe                  2015         6.689619
                                2016         6.685667
                                2017         6.703714
                                2018         6.829100
                                2019         6.898400

In [11]:
#customize the pivot to organize it as you would like

pd.pivot_table(happiness, index= 'Year', columns='Region', values="Happiness score")

Region,Australia and New Zealand,Central and Eastern Europe,Eastern Asia,Latin America and Caribbean,Middle East and Northern Africa,North America,Southeastern Asia,Southern Asia,Sub-Saharan Africa,Western Europe
Year,,,,,,,,,,
2015,7.2850,5.332931,5.626167,6.144682,5.406900,7.2730,5.317444,4.580857,4.202800,6.689619
2016,7.3235,5.370690,5.624167,6.101750,5.386053,7.2540,5.338889,4.563286,4.136421,6.685667
2017,7.2990,5.409931,5.496500,5.957905,5.369684,7.1545,5.444875,4.628429,4.084722,6.703714
2018,7.2980,5.463966,5.672000,5.937750,5.282737,7.1070,5.313444,4.603857,4.192472,6.829100
2019,7.2675,5.571786,5.688833,5.942550,5.237000,7.0850,5.273667,4.526857,4.314611,6.898400

## Manipulating the data.

- we can use the optional `aggfunc` to add columns for more rich statistcs.

In [12]:
pd.pivot_table(happiness, index= 'Region', values= "Happiness score", aggfunc= [np.mean, np.median, min, max, np.std])

,mean,median,min,max,std
,Happiness score,Happiness score,Happiness score,Happiness score,Happiness score
Region,,,,,
Australia and New Zealand,7.294600,7.2965,7.228,7.334,0.030787
Central and Eastern Europe,5.428875,5.5025,4.096,6.852,0.587102
Eastern Asia,5.630464,5.6545,4.874,6.446,0.472521
Latin America and Caribbean,6.021935,6.1250,3.582,7.226,0.734054
Middle East and Northern Africa,5.337208,5.2745,3.006,7.278,1.022185
North America,7.174700,7.1985,6.886,7.427,0.204057
Southeastern Asia,5.335227,5.2705,3.819,6.798,0.801819
Southern Asia,4.580657,4.5650,3.203,5.653,0.587753
Sub-Saharan Africa,4.186027,4.1915,2.693,5.891,0.590168
Western Europe,6.759311,6.9400,4.857,7.769,0.747602